body {
  font-family: verdana, sans-serif;
  margin: 3em;
  font-size: 12px;
}
h1, 
h2 {
  font-size: 12px !important;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  color: #5e6c84;
}

/* POOL */
#ghx-work {
  overflow: hidden !important;
}
#ghx-pool-column {}

/* HEADERS */
.ghx-column-headers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
}
.ghx-column-headers .ghx-column {
  background-color:#f5f4f7;
  padding: 10px 5px;
}

/* COLUMNS */
.ghx-columns {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
}
.ghx-column { 
  background-color:#f5f4f7;
  padding: 5px;
}


/* ISSUE */
.ghx-issue { 
  border: 1px solid deeppink;
  background-color: white;

  padding: 5px;
}
.ghx-issue + .ghx-issue {
  margin-top: 5px;
}